/*xs device*/
@media(max-width:767px){
    .common_bg{
    background-color: #9FC5F8;
    margin-top: 15px;
}

.header_height{
    min-height:100px; 
}
.item_one{
    background-color:#CFE2FB;
}
.item_two{
    background-color:#6FABDC;
    min-height: 70px;
}

.brand, .global_nav, .tools{
    min-height: 50px;
    margin-top:15px;
    margin-bottom:10px;
}
.hero_height{
    min-height: 50px;
}
.hero_features, .call_to_action{
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    }

.padding_right_disable{
    padding-right: 15px;
}

.article_height{ min-height: 220px;}

.article_feature, .article_listing{
    min-height: 60px;
    margin-top: 10px;
}

.sidebar_feature{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar_content{
   min-height: 150px;
}

.footer_height{
    min-height: 45px;
    margin-bottom: 25px;
}

}
/*sm device*/
@media(min-width:768px) and (max-width:991px){
    .common_bg{
    background-color: #9FC5F8;
    margin-top: 15px;
}

.header_height{
    min-height:100px; 
}
.item_one{
    background-color:#CFE2FB;
}
.item_two{
    background-color:#6FABDC;
    min-height: 150px;
    margin-top: 15px;
}

.brand, .global_nav, .tools{
    min-height: 70px;
    margin-top:30px;
    margin-bottom:15px;
}
.hero_height{
    min-height: 150px;
}
.hero_features, .call_to_action{
    min-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

.padding_right_disable{
    padding-right: 0px;
    padding-left: 0px;
}

.article_height{ min-height: 220px;}

.article_feature, .article_listing{
    min-height: 150px;
    margin-top: 17px;
    margin-bottom: 10px;
}

.sidebar_feature{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar_content{
   min-height: 150px;
}

.footer_height{
    min-height: 75px;
    margin-bottom: 25px;
}

}
/*md device*/
@media(min-width:992px) and (max-width:1199px){
     
}
/*lg device*/
@media(min-width:1200px){
     
}